<div class="small-card_container">
    <div class="small-card-content_container">



        <div class="small-card_photo">
            <img src="https://p2.trrsf.com/image/fget/cf/774/0/images.terra.com/2023/03/14/666375009-0f5b01cf9e4be52649f11c97f270a51d.jpg"
                alt="" height="200px">
        </div>
        <div class="big-card_title">
            <h1>Filme muito esperado decepcionou a expectativa</h1>
        </div>
    </div>
    <div class="small-card-separator_container">
        <hr>
    </div>
</div>